.firstnavbar
{
    background-color: black !important;
    color: white !important;
}

.second
{
color: black !important;
}
.card
{
    border-width: 0px;
}
.backgroud-red{
    background-color: red;
}
.top-head
{
    color: black;
    margin-top:140px;
    margin-left:120px
}
.dec{
    color:red;
    margin-left: 120px
}
.dec1
{
    color:black;
    margin-left: 120px
}
.but1
{
    background-color: red;
    border-width: 0px;
    border-radius: 0px;
}
.but2
{
    background-color:black;
    border-width: 0px;
    max-width: 250px;
    margin-left:20px;
    border-radius: 0px;
    padding-right: 16px;
}
.lowerbut1
{
    background-color: red;
    border-width: 0px;
    border-radius: 0px;
    margin-left: 830px;
}
.lowerbut2
{
    background-color:black;
    border-width: 0px;
    max-width: 250px;
    margin-left:20px;
    border-radius: 0px;
    padding-right: 16px;
}
.section1{
    background-image: url('../images/pen.png');
    background-repeat:no-repeat;
    background-position: center right;
    background-color:#f7f5f6;
   
    
}
.middleclass
{
    background-position: center right;
}
.interiorrow
{
    background-color:white;
}
#mbutton
{
   margin-left: 850px;
   margin-top: 25px;
   margin-bottom: 25px;
   background-color: red;
   border-width: 0px;
   border-radius: 0px;
}
.bottamnav
{
    background-color: black;
    color: white;

    
}
.bottamnavright
{
    background-position:center right;
    background-repeat:no-repeat;
    text-align:right;
}
.ptext{
    margin-top: 50px;
    margin-left: 40px;
}
.htext{
    margin-top: 50px;
    margin-left: 40px;
}
.imagerow
{
    max-height: 50px;
}
.section4
{
background-position:center right;
background-repeat:no-repeat;
color: black;
margin-top: 50px;
}
.smalldiv
{
    background-color: red;
    /* max-width:100px;
    max-height: 130px; */
    /* background-position:center right;
    background-repeat:no-repeat; */
    /* margin-top: 30px; */
    align-items:center;
    margin-bottom: 2px;
   
}
.small1div
{
    margin-top: 30px;
    color: black;
    

}
.bottomhead
{
    text-align:center;
    margin-top: 60px;
}
.img-inner{
    margin: 10px auto;

height: 70px;

width: 60px;
}
@media screen and (max-width: 600px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  
}