.firstnavbar
{
    background-color: black !important;
    color: white !important;
}
.section02
{
    background-image: url("../images/bg.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}

.second
{
color: black !important;
}
.card
{
    border-width: 0px;
}
.backgroud-red{
    background-color: red;
}
.top-head
{
    color: black;
    margin-top:140px;
    margin-left:120px;
    bold;
}
.dec{
    color:red;
    margin-left: 120px;
    bold;
}
.dec1
{
    color:black;
    margin-left: 120px;
}
.but1
{
    background-color: red;
    border-width: 0px;
    border-radius: 0px;
}
.but2
{
    background-color:black;
    border-width: 0px;
    max-width: 250px;
    margin-left:20px;
    border-radius: 0px;
    padding-right: 16px;
}
.img-inner{
    margin: 10px auto;
    height: 70px;
    width: 60px;
}
.small1div
{
    margin-top: 30px;
    color: black;
}
.rightdiv
{
    background-position:center right;
    background-repeat:no-repeat;
    color: black;
    margin-top: 50px;
}
.smalldiv
{
    background-color: red;
    max-width:100px;
    max-height: 130px; 
     background-position:right;
    /*background-repeat:no-repeat;
    margin-top: 30px; 
    align-items:center;
    margin-bottom: 2px;*/
   
}
.small1div
{
    margin-top: 30px;
    color: black;
}
.section4
{
background-position:center right;
background-repeat:no-repeat;
color: black;
margin-top: 50px;
}
.section1{
    background-image: url('../images/pen.png');
    background-repeat:no-repeat;
    background-position: center right;
    background-color:#f7f5f6;
}
.middleclass
{
    background-position: center right;
}  
#mbutton
{
   margin-left:100px;
   margin-top: 25px;
   margin-bottom: 25px;
   background-color: red;
   border-width: 0px;
   border-radius: 0px;
}
.section04
{
    background-image: url("../images/bottom-bg.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center; 

}
.section05{
    margin-left: 280px;

}
    
    .bottamnav
    {
        background-color: black;
        color: white;
    
}
.lowerbut1
{
    background-color: red;
    border-width: 0px;
    border-radius: 0px;
    margin-left: 400px;
}
.lowerbut2
{
    background-color:black;
    border-width: 0px;
    max-width: 250px;
    margin-left:20px;
    border-radius: 0px;
    padding-right: 16px;
}
.bot{
color: red;
}
.hero-image {
    background-image: url("../images/bg-fade.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .img-inner{
    margin: 10px auto;
    height: 70px;
    width: 60px;
    background-color: red;
}
.ptext{
    margin-top: 50px;
    margin-left: 40px;
}
.htext{
    margin-top: 50px;
    margin-left: 40px;
}
.bottamnavright
{
    text-align: right;
}
.een {
    position: relative;
    display: inline-block;
  }
  
  .een:hover img {
    opacity: 0;
  }
  
  .een p {
    position: absolute;
    top: 45%;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    z-index: 10;
  }
  
  #i {
    position: relative;
    z-index: 100;
    transition: opacity linear 0.5s;
  }
@media screen and (max-width: 600px) {

    .top-head
{
    color: black;
    font-size: 20px;
    margin-left:120px;
}
.dec{
    color:red;
    font-size: 20px;
    margin-left:120px;
}
.dec1
{
    color:black;
    font-size: 10px;
    text-align: left;
}
.but1
{
    background-color: red;
    border-width: 0px;
    border-radius: 0px;
}
.but2
{
    background-color:black;
    border-width: 0px;

}
#mbutton
{

 
   background-color: red;
   border-width: 0px;
   border-radius: 0px;
}
.section02{
    font-size: smaller;
    
}

.section03{
    margin-top: 500px;
    
}
#mbutton
{
   margin-left:100px;
   margin-top:5px;
   margin-bottom:5px;
  
}
.lowerbut1
{
    
    margin-left: 100px;
}
.lowerbut2
{
    

    margin-left:5px;
    border-radius: 0px;
    padding-right: 5px;
    background-color: #f7f5f6;
    color:black;
}
.ptext{
    margin-top: 50px;
    margin-left: 20px;
}
.htext{
    margin-top: 50px;
    margin-left: 20px;

}
.section05{
margin-left: 10px;
}
}